aiofiles
aioshutil
anytree
apscheduler
aria2p
beautifulsoup4
cloudscraper
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
motor
natsort
pillow
psutil
pycryptodome
pycurl
pymongo
pyrofork
python-dotenv
python-magic
qbittorrent-api
requests==2.32.3
urllib3==2.4.0
speedtest-cli
telegraph
tenacity
TgCrypto-pyrofork
uvloop
xattr
yt-dlp
aiohttp
gallery_dl
niquests
mutagen
curl_cffi
httpx[http2]
quoters
certifi